*.vscode
*.venv
**/data/*
/figs*
/notebooks*
*.pyc
config.yaml
*.ipynb_checkpoints*
*.egg-info*
/build*
*.log
__pypackages__
.pdm-python
pdm.toml
.tool-versions
requirements/local
test_data
**/figures*
**/merged_manifest_*.csv
**/Figure1*
**/Figure2*
**/Figure-dataset*
**/dataset_images_for_figures/*.ipynb*
**/dataset_images_for_figures/*local_csv_storage*
**/accessory_scripts*
**/local_storage*